:root{ 
--primary-color: #59926f;
  --secondary-color: #8bb39a;
  --ternary-color: #62b6b7;
  --hover-color: #7c81ad;
  --white-color: #cbedd5;
}
/* display none for arrow in the small screen  */

@media (min-width: 1380px) {
  .row {
    margin-inline: 7rem;
    margin-bottom: 10rem;
  }
}

@media (max-width: 1380px) {
  .row {
    margin-inline: 3rem;
    margin-bottom: 5rem;
  }
}

.image1_section {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 255, 213, 0.381);
  ;
  /* Aqua background with 50% opacity */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 10rem;
  text-align: center;
}

@media (max-width:760px) {
  .text {
    font-size: 3rem;
  }
}







/* New style  */

/* new books section style  */
.newBooks-heading {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 6rem;
}

@media screen and (max-width:760px) {
  .newBooks-heading {
    text-align: left;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 4rem;
    margin-left: 13rem;
  }
}

.newBooks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
}

/* newBooks card for small screen */
@media (max-width:560px) {
  .newBooks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .newBooks_card {
    margin-inline: 12rem;
  }

}

/* newBooks card for medium screen */
@media (min-width: 561px) and (max-width:900px) {
  .newBooks {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

/* remove arrows for  screen  with width 1380 */

@media (max-width: 1380px) {
  .newBooks-arrow {
    display: none;
  }
}

/* style the author and title  */
.newBooks-card_text {
  font-size: medium;
  margin-top: 2rem;
}

.newBooks-card_title {
  font-size: large;
  margin-bottom: 2rem;
}

.newBooks-scroll{
  scroll-behavior: smooth;
}
.book__link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.book__link img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.book__link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.book__link img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
/*books overlay */
/* .book__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.book__link:hover .book__overlay {
  opacity: 0.9;
}

.overlay-text {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
}

.overlay-text::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 0.3rem;
  width: 0;
  left: 0;
  bottom: -0.5rem;
  transition: all 0.3s;
}

.book__link:hover .overlay-text::after {
  width: 100%;
} */

/* end book overlay */

/** Start Features  */
.features {
  height: 36rem;
  width: 90%;
  margin: 13rem auto 13rem;
  background-image: linear-gradient(
      rgba(89, 146, 111, 0.9),
      rgba(89, 146, 111, 0.9)
    ),
    url("/Home-Page/images/manyBook.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.features h4 {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

.features p {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

@media (max-width:760px) {
  
.features h4 {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.features p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

}
/** End Features  */

/* Top Books section  */
.TopBooks-heading{
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 6rem;
}